body {
    font-family: "helvetica", "arial", san-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

th,
td {
    text-align: left;
    padding: 15px;
}